<footer class='collectibleDiecast-footer'>
  <div class='collectibleDiecast-footer-content'>
    <div class='collectibleDiecast-footer-row'>
      <img role="presentation" src='images/logo-footer.svg' class='logo logo-footer' />
      <p>© Collectible Diecast</p>
    </div>
  </div>
</footer>